.header-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  align-items: center;
  border-bottom: 1px solid #1b7297;

  .left-container {
    display: flex;
    align-items: center;
  }
}